html {
    background-image: url("/IMAGES/bganstar.gif");
    font-family: 'Lucida Console';
    color: white;
    text-align: center;
}

div {
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: auto;
    text-align: center;
    gap: 350px;
}

.container-links-interests {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: auto;
    text-align: center;
    gap: 300px;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.about-me-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    padding: 20px;
}

.about-me-grid {
    border: 5px solid green;
    background-color: purple;
    padding: 10px;
    height: 40px;
}

li {
    text-align: left;
}

.about-me {
    border: 5px solid greenyellow;
    width: 1000px;
    background-color: indianred;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.back {
    text-align: left;
}

a {
    text-decoration: none;
}

a:active {
    color: greenyellow;
}

a:visited {
    color: yellow;
}
